div {
  padding: 0 20px;

  h4 {
    margin-top: 10px;
    text-align: center;
  }
  table {
    border: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 12px;
    text-align: left;
  }
  th,
  td {
    padding: 5px;
    border: 1px solid #ddd;
  }
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  tr:hover {
    background-color: #f4f4f4;
    cursor: pointer;
  }
}
